.home-page {
 padding: 20px;
}

.home-page-title {
  text-align: center;
  margin-bottom: 55px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden visible;
}