.details-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.details-title {
  margin-bottom: 30px;
  font-size: 1.5em;
}

.details-abstract, 
.details-byline {
  margin-bottom: 0;
}

.details-dates-container {
  display: flex;
}

.details-date-published,
.details-date-updated {
  margin-top: 5px;
}

.details-byline,
.details-date-published,
.details-image-copyright,
.details-date-updated {
  font-size: 12px;
}

.details-byline,
.details-date-published {
  padding-right: 10px;
}

.details {
  max-width: 900px;
  min-width: 200px;
}

.details-image-copyright {
  margin: 0;
  text-align: right ;
}

.details-image {
  width: 100%;
  height: auto;
}

@media (max-width: 720px) {
  .details-title { font-size: 1.25em; }
}