.card {
  height: 150px;
  width: 400px;
  margin-bottom: 8%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.card-text {
  padding: 5px;
}

.card-image {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 640px) {
  .card {
    width: 100%;
  }

}

@media screen and (min-width: 641px) {
  .card {
    height: 150px;
    width: 600px;
  }



}