header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: thin solid lightgrey;
  height: 15vh;
}

h1 {
  margin: 0;
  font-family: 'UnifrakturCook', cursive;
  font-size: 4em;
}

